
<p id="notice"><%= notice %></p>

<h1>AWS Polly QA</h1>

<%= form_with(url: '/home/read', method: 'get') do%>
    <p>Script</p>
    <%= select_tag(:script, 
        options_for_select([
            ['script1', 1],
            ['script2', 2],
            ['script3', 3],
    ], @scrnum), onchange: "this.form.submit();", id: "script")
    %>
    <p>Options</p>
    <%= select_tag(:who, 
        grouped_options_for_select([
            ['US',
            [['Salli, Female', 'Salli'],
            ['Joanna, Female', 'Joanna'],
            ['Matthew, Male', 'Matthew']]],
            ['UK',
            [['Amy, Female', 'Amy'],
            ['Emma, Female', 'Emma'],
            ['Brian, Male', 'Brian']]],
            ['Austrailia',
            [['Nicole, Female', 'Nicole'],
            ['Russell, Male', 'Russell']]]
        ], @data), onchange: "this.form.submit();", id: "who")
    %>
<% end %>  
 
</br>
</br>

<% if @success== true %>
    <audio id="myaudio" src= "<%= asset_path("#{@filename}.mp3")  %>" type="audio/mp3" controls> 
    </audio>
    </br>
    </br>
    </br>
    <p><%=@str%></p>
<% end %>

